.video-preview-container {
    width: 80%;
    margin: 0 auto 10px;
}
.video-preview-wrapper {
    position: relative;
    max-height: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    display: block;
    margin: 0 auto 10px;
}

.video-preview {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
}
.video-effects {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.video-effects label input {
    display: inline-block;
}
