.controls-wrapper {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: #f1f1f1;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    transition-delay: 500ms;
    z-index: 2;
}

.controls-wrapper span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #3a3a3a;
    padding: 5px;
    margin: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.controls-wrapper span.controls-wrapper--leave-button {
    display: inline-flex;
    background: #e74848;
}

.controls-wrapper span.controls-wrapper--leave-button svg {
    transform: rotate(-135deg);
}

.controls-wrapper span.controls-wrapper--leave-button:hover {
    background: #a33636;
}
