.room-info--id-wrapper {
    display: inline-flex;
    margin-left: 10px;
    padding: 6px 10px;
    background: #2a3365;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.room-info--id-wrapper:hover {
    background: #232449;
}

.room-info--id {
    display: inline-block;
    margin-right: 10px;
}
.room-info--share-icon {
    vertical-align: top;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .room-info--id-wrapper {
        display: block;
        margin-top: 2px;
    }
}
