* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    color: #151948;
    background: #f9f9f9;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    overflow: hidden;
}

#root, .app {
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
}


input, textarea {
    display: block;
    font-family: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-size: 15px;
    color: #2b2b2b;
    min-width: 0;
}

.main-container {
    display: flex;
    flex: 1;
}

.video-participant-container {
    flex: 1;
    height: 100%;
    display: flex;
}
.video-container {
    flex: 1;
    background: purple;
}
