.header {
    background: linear-gradient(to right bottom,  #5958ff, #4744d5);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    color: #fbfbfb;
    font-size: 15px;
    text-transform: uppercase;
}

.header ul li {
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
    background: #00d79a;
    border-radius: 5px;
    padding: 5px 10px;
    color: #f1f1f1;
}
