.participant {
    display: flex;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-bottom: #e4e4e4 1px solid;
}
.participant:hover {
    background: #ededed;
    color: #5c8dff;
}

.participant--name-wrapper {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.participant--icon {
    margin: 0 5px;
    color: #ff5f66;
}

