.participant-list {
    position: relative;
    width: 0;
    color: #5c8dff;
    transition: width 100ms ease-in-out;
}

.participant-list.open {
    width: 300px;
}

.participant-list--contents {
    width: 300px;
}
