.screenshare-slash {
    position: relative;
}

span.screenshare-slash__slash {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    background: transparent;
}
