.settings-viewer {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.settings-view {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.settings-view.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings--button-control {
    display: flex;
    justify-content: flex-end;
}

.settings--button-control .modal--button {
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}


.settings--button-control .modal--button.cancel {
    background: #ff5f66;
}

.settings--button-control .modal--button.cancel:hover {
    background: #d04e53;
}

.settings-view h3 {
    margin: 10px 0;
}
